04050724.txt
[
    {
        "id": "31a2a49e.64bb0c",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "c19a69bd.8034d8",
        "type": "rpi-gpio out",
        "z": "31a2a49e.64bb0c",
        "name": "Green LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "e56c9932.2367a8",
        "type": "debug",
        "z": "31a2a49e.64bb0c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "a01560cd.609e1",
        "type": "rpi-gpio in",
        "z": "31a2a49e.64bb0c",
        "name": "Button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "66c34091.a151b",
                "e56c9932.2367a8"
            ]
        ]
    },
    {
        "id": "66c34091.a151b",
        "type": "switch",
        "z": "31a2a49e.64bb0c",
        "name": "If input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "fe611618.384418"
            ],
            [
                "9f72fb4a.e5dad8"
            ]
        ]
    },
    {
        "id": "fe611618.384418",
        "type": "change",
        "z": "31a2a49e.64bb0c",
        "name": "change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "c19a69bd.8034d8"
            ]
        ]
    },
    {
        "id": "9f72fb4a.e5dad8",
        "type": "change",
        "z": "31a2a49e.64bb0c",
        "name": "change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "c19a69bd.8034d8"
            ]
        ]
    }
]